@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}



.main {
  float: left;
  padding: 0 20px;
  overflow: hidden;
  width: 50%;
  height:auto;
}
.right {
  background-color: rgb(255, 255, 255);
  float: left;
  width: 50%;
  padding: 10px 15px;
  margin-top: 7px;
}


.card{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  background-color: var(--white);
  width: 640px;
  height: 100%;
  margin: 25% auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 9px 10px 36px -3px rgba(0,0,0,0.42);
  -webkit-box-shadow: 9px 10px 36px -3px rgba(0,0,0,0.42);
  -moz-box-shadow: 9px 10px 36px -3px rgba(0,0,0,0.42);
}


.form{    
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
     background:linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
width: auto;}


.principal__circle {

    display: flex;
    flex-direction: column;
   width: 150px;
   height: 150px;
   font-size: 3.5rem;
   font-weight: 800;
   color:var(--neutro1);
   font-family: 'Hanken Grotesk';
   background: linear-gradient(0, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
   border-radius: 100%;
   text-align: center;
   padding: 10px;
   margin-bottom: 5px;





}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
    

